@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
#home-icon {
  height: 25px;
  width: 25px;
}
body {
  font-family: "Oswald", sans-serif;
}
nav a {
  text-decoration: none;
  color: rgb(83, 83, 83);
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  padding: 10px;
  position: relative;
  top: 5px;
}
nav h1 {
  font-size: 30px;
  float: left;
  padding: 10px;
}
nav img {
  float: right;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
  top: 3px;
}

nav {
  background-color: dodgerblue;
  /* position: fixed;
  top:0px;
  left:0px; */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
}
nav a:hover {
  color: black;
  transform: scale(110%, 110%);
}
nav img:hover {
  filter: brightness(0.25);
  transform: scale(110%, 110%);
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  display: block;
}
.landing-image{
  width:100%;
}
.main-content{
  font-size:20px;
}
.sidebar {
  background-color: rgb(240, 240, 240);
  border-style: solid;
  border-width: 2px;
  border-radius: 5%;
}
.sidebar img{
  width:100%;
  padding:20px;
}
footer {
  background-color: dodgerblue;
  width: 100%;
  padding-bottom:25px;
  margin-top:20px;
}
footer a {
  text-decoration: none;
  color: rgb(83, 83, 83);
  padding-left: 20px;
  padding-right: 20px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
footer a:hover {
  color: black;
  transform: scale(110%, 110%);
}
footer p{
    padding-left:20px;
    color:white;
}

