@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
#home-icon {
  height: 25px;
  width: 25px;
}
body {
  font-family: "Oswald", sans-serif;
}
nav a {
  text-decoration: none;
  color: rgb(83, 83, 83);
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  padding: 10px;
  position: relative;
  top: 5px;
}
nav h1 {
  font-size: 30px;
  float: left;
  padding: 10px;
}
nav img {
  float: right;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

nav {
  background-color: dodgerblue;
  /* position: fixed;
  top:0px;
  left:0px; */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
nav a:hover {
  color: black;
  transform: scale(110%, 110%);
}
nav img:hover {
  filter: brightness(0.25);
  transform: scale(110%, 110%);
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/* .container {
  margin-left: 0px;
  margin-right: 0px;
  padding:0px;
} */
img {
  width: 100%;
  opacity:100%;
  transition: opacity 0.3s;
}
/* row{
    margin:0px;
}
.col-lg-6{
    padding:0px;
} */
.image-holder {
  width: 50%;
  float: left;
  height: fit-content;
  position: relative;
}
.image-holder h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:30px;
  opacity:0%;
  transition:opacity 0.3s;
  color:white;
}
.image-holder:hover > h1{
    opacity:100%;
}
.image-holder:hover > img{
  opacity:80%;
  filter:blur(5px);
}
@media screen and (max-width:768px){
    .image-holder{
        width:100%;
    }
}
